[user]
	name = Kristian Tryggestad 
	email = kristian.tryggestad@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	st = status
	up = log --branches --not --remotes
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	who = shortlog -s --
	aliases = config --get-regexp alias
	slog = log --pretty=oneline --graph --abbrev-commit
	diffc = diff --cached
[color]
	ui = true
